In [2]:
print(1)
print(2)

1
2

In [4]:
print("HELLO")

HELLO

In [13]:
import pandas

In [14]:
df=pandas.read_csv(r"C:\Users\GINNI\Downloads\abc.csv")
df

,hlpi_name,series_ref,quarter,hlpi,nzhec,nzhec_name,nzhec_short,level,index,change.q,change.a
0,All households,HPIQ.SALL01,2008Q2,allhh,1,Food,Food,group,870,NaN,NaN
1,Beneficiary,HPIQ.SBEN01,2008Q2,benef,1,Food,Food,group,869,NaN,NaN
2,Income quintile 1 (low),HPIQ.SIQ101,2008Q2,disq1,1,Food,Food,group,869,NaN,NaN
3,Income quintile 2,HPIQ.SIQ201,2008Q2,disq2,1,Food,Food,group,869,NaN,NaN
4,Income quintile 3,HPIQ.SIQ301,2008Q2,disq3,1,Food,Food,group,872,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
39279,Expenditure quintile 3,HPIQ.SEQ304403,2019Q3,expq3,4.4.03,Local authority rates and payments,Local authority rates,class,1300,4.8,4.8
39280,Expenditure quintile 4,HPIQ.SEQ404403,2019Q3,expq4,4.4.03,Local authority rates and payments,Local authority rates,class,1303,4.9,4.9
39281,Expenditure quintile 5 (high),HPIQ.SEQ504403,2019Q3,expq5,4.4.03,Local authority rates and payments,Local authority rates,class,1297,4.7,4.7
39282,Maori,HPIQ.SMAO04403,2019Q3,maori,4.4.03,Local authority rates and payments,Local authority rates,class,1297,5.1,5.1
39283,Superannuitant,HPIQ.SSUP04403,2019Q3,super,4.4.03,Local authority rates and payments,Local authority rates,class,1304,5.1,5.1

In [1]:
df7

NameError: name 'df7' is not defined